--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2
-- Dumped by pg_dump version 17.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: create_financial_account(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.create_financial_account() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- Verificar se j├â┬í existe financial_account para este student
    IF NOT EXISTS (SELECT 1 FROM financial_account WHERE student_id = NEW.student_id) THEN
        -- Inserir com o tuition_fee como d├â┬¡vida inicial
        INSERT INTO financial_account (student_id, balance)
        SELECT NEW.student_id, dp.tuition_fee
        FROM degree_program dp
        WHERE dp.degree_id = NEW.degree_id;
    ELSE
        -- Se j├â┬í existe, atualizar o balance adicionando o tuition_fee
        UPDATE financial_account 
        SET balance = balance + (SELECT tuition_fee FROM degree_program WHERE degree_id = NEW.degree_id),
            last_update = CURRENT_TIMESTAMP
        WHERE student_id = NEW.student_id;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.create_financial_account() OWNER TO postgres;

--
-- Name: update_academic_record(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_academic_record() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
DECLARE
    stud_new INT;
    stud_old INT;
    avg_grade NUMERIC;
    approved_cnt INT;
BEGIN
    -- determina que student(s) actualizar
    IF TG_OP = 'INSERT' THEN
        stud_new := NEW.student_id;
        -- recalcula s├│ para stud_new
        SELECT COUNT(*) INTO approved_cnt
        FROM course_enrollment
        WHERE student_id = stud_new AND grade >= 9.5;

        SELECT ROUND(AVG(grade)::numeric,2) INTO avg_grade
        FROM course_enrollment
        WHERE student_id = stud_new AND grade IS NOT NULL;

        INSERT INTO academic_record (student_id, average, approved_courses)
        VALUES (stud_new, COALESCE(avg_grade,0), COALESCE(approved_cnt,0))
        ON CONFLICT (student_id) DO UPDATE
        SET average = COALESCE(EXCLUDED.average, 0),
            approved_courses = EXCLUDED.approved_courses;

        RETURN NEW;
    ELSIF TG_OP = 'UPDATE' THEN
        stud_new := NEW.student_id;
        stud_old := OLD.student_id;

        -- se student_id mudou, actualizar ambos (OLD e NEW)
        IF stud_old IS DISTINCT FROM stud_new THEN
            -- actualizar OLD
            SELECT COUNT(*) INTO approved_cnt
            FROM course_enrollment
            WHERE student_id = stud_old AND grade >= 9.5;

            SELECT ROUND(AVG(grade)::numeric,2) INTO avg_grade
            FROM course_enrollment
            WHERE student_id = stud_old AND grade IS NOT NULL;

            INSERT INTO academic_record (student_id, average, approved_courses)
            VALUES (stud_old, COALESCE(avg_grade,0), COALESCE(approved_cnt,0))
            ON CONFLICT (student_id) DO UPDATE
            SET average = COALESCE(EXCLUDED.average,0),
                approved_courses = EXCLUDED.approved_courses;
        END IF;

        -- actualizar NEW (sempre)
        SELECT COUNT(*) INTO approved_cnt
        FROM course_enrollment
        WHERE student_id = stud_new AND grade >= 9.5;

        SELECT ROUND(AVG(grade)::numeric,2) INTO avg_grade
        FROM course_enrollment
        WHERE student_id = stud_new AND grade IS NOT NULL;

        INSERT INTO academic_record (student_id, average, approved_courses)
        VALUES (stud_new, COALESCE(avg_grade,0), COALESCE(approved_cnt,0))
        ON CONFLICT (student_id) DO UPDATE
        SET average = COALESCE(EXCLUDED.average,0),
            approved_courses = EXCLUDED.approved_courses;

        RETURN NEW;
    ELSIF TG_OP = 'DELETE' THEN
        stud_old := OLD.student_id;

        SELECT COUNT(*) INTO approved_cnt
        FROM course_enrollment
        WHERE student_id = stud_old AND grade >= 9.5;

        SELECT ROUND(AVG(grade)::numeric,2) INTO avg_grade
        FROM course_enrollment
        WHERE student_id = stud_old AND grade IS NOT NULL;

        INSERT INTO academic_record (student_id, average, approved_courses)
        VALUES (stud_old, COALESCE(avg_grade,0), COALESCE(approved_cnt,0))
        ON CONFLICT (student_id) DO UPDATE
        SET average = COALESCE(EXCLUDED.average,0),
            approved_courses = EXCLUDED.approved_courses;

        RETURN OLD;
    END IF;

    RETURN NULL; -- nunca deveria chegar aqui
END;
$$;


ALTER FUNCTION public.update_academic_record() OWNER TO postgres;

--
-- Name: update_academic_records(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_academic_records() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
BEGIN
    -- S├│ processar se a grade mudou significativamente
    IF (OLD.grade IS DISTINCT FROM NEW.grade) THEN
        UPDATE academic_record 
        SET 
            approved_courses = (
                SELECT COUNT(*) 
                FROM course_enrollment 
                WHERE student_id = NEW.student_id AND grade >= 9.5
            ),
            average = (  -- ÔåÉ Ô£à CORRETO: average
                SELECT COALESCE(AVG(grade), 0)
                FROM course_enrollment 
                WHERE student_id = NEW.student_id AND grade >= 9.5
            )
        WHERE student_id = NEW.student_id;
    END IF;
    
    RETURN NEW;
END;
$$;


ALTER FUNCTION public.update_academic_records() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: academic_record; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.academic_record (
    record_id integer NOT NULL,
    student_id integer NOT NULL,
    average numeric(5,2),
    approved_courses integer,
    current_semester integer
);


ALTER TABLE public.academic_record OWNER TO postgres;

--
-- Name: academic_record_record_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.academic_record_record_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.academic_record_record_id_seq OWNER TO postgres;

--
-- Name: academic_record_record_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.academic_record_record_id_seq OWNED BY public.academic_record.record_id;


--
-- Name: activity; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity (
    activity_id integer NOT NULL,
    name text NOT NULL,
    fee numeric(10,2) NOT NULL
);


ALTER TABLE public.activity OWNER TO postgres;

--
-- Name: activity_activity_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.activity_activity_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.activity_activity_id_seq OWNER TO postgres;

--
-- Name: activity_activity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.activity_activity_id_seq OWNED BY public.activity.activity_id;


--
-- Name: activity_participation; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.activity_participation (
    student_id integer NOT NULL,
    activity_id integer NOT NULL,
    registration_date date NOT NULL
);


ALTER TABLE public.activity_participation OWNER TO postgres;

--
-- Name: admin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admin (
    user_id integer NOT NULL
);


ALTER TABLE public.admin OWNER TO postgres;

--
-- Name: class; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class (
    class_id integer NOT NULL,
    edition_id integer NOT NULL,
    type character(2) NOT NULL,
    schedule text NOT NULL,
    CONSTRAINT class_type_check CHECK ((type = ANY (ARRAY['T'::bpchar, 'PL'::bpchar])))
);


ALTER TABLE public.class OWNER TO postgres;

--
-- Name: class_assignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.class_assignment (
    class_id integer NOT NULL,
    room_id integer NOT NULL
);


ALTER TABLE public.class_assignment OWNER TO postgres;

--
-- Name: class_class_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.class_class_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.class_class_id_seq OWNER TO postgres;

--
-- Name: class_class_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.class_class_id_seq OWNED BY public.class.class_id;


--
-- Name: classroom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classroom (
    room_id integer NOT NULL,
    building text NOT NULL,
    capacity integer NOT NULL,
    location text NOT NULL
);


ALTER TABLE public.classroom OWNER TO postgres;

--
-- Name: classroom_room_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.classroom_room_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.classroom_room_id_seq OWNER TO postgres;

--
-- Name: classroom_room_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.classroom_room_id_seq OWNED BY public.classroom.room_id;


--
-- Name: course; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course (
    code character varying(10) NOT NULL,
    name text NOT NULL,
    credits integer NOT NULL
);


ALTER TABLE public.course OWNER TO postgres;

--
-- Name: course_edition; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_edition (
    edition_id integer NOT NULL,
    course_code character varying(10) NOT NULL,
    year integer NOT NULL,
    capacity integer NOT NULL,
    schedule text,
    coordinator_id integer NOT NULL
);


ALTER TABLE public.course_edition OWNER TO postgres;

--
-- Name: course_edition_edition_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.course_edition_edition_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.course_edition_edition_id_seq OWNER TO postgres;

--
-- Name: course_edition_edition_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.course_edition_edition_id_seq OWNED BY public.course_edition.edition_id;


--
-- Name: course_enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_enrollment (
    student_id integer NOT NULL,
    edition_id integer NOT NULL,
    grade numeric(5,2),
    attendance integer,
    evaluation_period character varying(20)
);


ALTER TABLE public.course_enrollment OWNER TO postgres;

--
-- Name: course_prerequisites; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.course_prerequisites (
    course_code character varying(10) NOT NULL,
    prerequisite_code character varying(10) NOT NULL
);


ALTER TABLE public.course_prerequisites OWNER TO postgres;

--
-- Name: degree_courses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.degree_courses (
    degree_id integer NOT NULL,
    course_code character varying(10) NOT NULL
);


ALTER TABLE public.degree_courses OWNER TO postgres;

--
-- Name: degree_enrollment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.degree_enrollment (
    student_id integer NOT NULL,
    degree_id integer NOT NULL,
    enrollment_date date NOT NULL
);


ALTER TABLE public.degree_enrollment OWNER TO postgres;

--
-- Name: degree_program; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.degree_program (
    degree_id integer NOT NULL,
    name text NOT NULL,
    tuition_fee numeric(10,2) NOT NULL
);


ALTER TABLE public.degree_program OWNER TO postgres;

--
-- Name: degree_program_degree_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.degree_program_degree_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.degree_program_degree_id_seq OWNER TO postgres;

--
-- Name: degree_program_degree_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.degree_program_degree_id_seq OWNED BY public.degree_program.degree_id;


--
-- Name: financial_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financial_account (
    account_id integer NOT NULL,
    student_id integer NOT NULL,
    balance numeric(10,2) NOT NULL
);


ALTER TABLE public.financial_account OWNER TO postgres;

--
-- Name: financial_account_account_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.financial_account_account_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.financial_account_account_id_seq OWNER TO postgres;

--
-- Name: financial_account_account_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.financial_account_account_id_seq OWNED BY public.financial_account.account_id;


--
-- Name: financial_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.financial_transaction (
    transaction_id integer NOT NULL,
    account_id integer NOT NULL,
    amount numeric(10,2) NOT NULL,
    description text NOT NULL,
    transaction_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    activity_id integer,
    degree_id integer
);


ALTER TABLE public.financial_transaction OWNER TO postgres;

--
-- Name: financial_transaction_transaction_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.financial_transaction_transaction_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.financial_transaction_transaction_id_seq OWNER TO postgres;

--
-- Name: financial_transaction_transaction_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.financial_transaction_transaction_id_seq OWNED BY public.financial_transaction.transaction_id;


--
-- Name: instructor; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instructor (
    user_id integer NOT NULL,
    is_coordinator boolean NOT NULL
);


ALTER TABLE public.instructor OWNER TO postgres;

--
-- Name: instructor_assignment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.instructor_assignment (
    instructor_id integer NOT NULL,
    edition_id integer NOT NULL,
    is_coordinator boolean NOT NULL
);


ALTER TABLE public.instructor_assignment OWNER TO postgres;

--
-- Name: student; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student (
    user_id integer NOT NULL,
    name text,
    birth_date date,
    address text,
    district text
);


ALTER TABLE public.student OWNER TO postgres;

--
-- Name: student_class; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_class (
    student_id integer NOT NULL,
    class_id integer NOT NULL,
    enrollment_date date DEFAULT CURRENT_DATE
);


ALTER TABLE public.student_class OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    user_id integer NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    email text,
    role text NOT NULL,
    CONSTRAINT users_role_check CHECK ((role = ANY (ARRAY['student'::text, 'instructor'::text, 'admin'::text])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_user_id_seq OWNER TO postgres;

--
-- Name: users_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_user_id_seq OWNED BY public.users.user_id;


--
-- Name: academic_record record_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_record ALTER COLUMN record_id SET DEFAULT nextval('public.academic_record_record_id_seq'::regclass);


--
-- Name: activity activity_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity ALTER COLUMN activity_id SET DEFAULT nextval('public.activity_activity_id_seq'::regclass);


--
-- Name: class class_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class ALTER COLUMN class_id SET DEFAULT nextval('public.class_class_id_seq'::regclass);


--
-- Name: classroom room_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classroom ALTER COLUMN room_id SET DEFAULT nextval('public.classroom_room_id_seq'::regclass);


--
-- Name: course_edition edition_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_edition ALTER COLUMN edition_id SET DEFAULT nextval('public.course_edition_edition_id_seq'::regclass);


--
-- Name: degree_program degree_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_program ALTER COLUMN degree_id SET DEFAULT nextval('public.degree_program_degree_id_seq'::regclass);


--
-- Name: financial_account account_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_account ALTER COLUMN account_id SET DEFAULT nextval('public.financial_account_account_id_seq'::regclass);


--
-- Name: financial_transaction transaction_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_transaction ALTER COLUMN transaction_id SET DEFAULT nextval('public.financial_transaction_transaction_id_seq'::regclass);


--
-- Name: users user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN user_id SET DEFAULT nextval('public.users_user_id_seq'::regclass);


--
-- Name: academic_record academic_record_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_record
    ADD CONSTRAINT academic_record_pkey PRIMARY KEY (record_id);


--
-- Name: academic_record academic_record_student_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_record
    ADD CONSTRAINT academic_record_student_unique UNIQUE (student_id);


--
-- Name: activity_participation activity_participation_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_participation
    ADD CONSTRAINT activity_participation_pkey PRIMARY KEY (student_id, activity_id);


--
-- Name: activity activity_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity
    ADD CONSTRAINT activity_pkey PRIMARY KEY (activity_id);


--
-- Name: admin admin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_pkey PRIMARY KEY (user_id);


--
-- Name: class_assignment class_assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_assignment
    ADD CONSTRAINT class_assignment_pkey PRIMARY KEY (class_id, room_id);


--
-- Name: class class_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class
    ADD CONSTRAINT class_pkey PRIMARY KEY (class_id);


--
-- Name: classroom classroom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classroom
    ADD CONSTRAINT classroom_pkey PRIMARY KEY (room_id);


--
-- Name: course_edition course_edition_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_edition
    ADD CONSTRAINT course_edition_pkey PRIMARY KEY (edition_id);


--
-- Name: course_enrollment course_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollment
    ADD CONSTRAINT course_enrollment_pkey PRIMARY KEY (student_id, edition_id);


--
-- Name: course course_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course
    ADD CONSTRAINT course_pkey PRIMARY KEY (code);


--
-- Name: course_prerequisites course_prerequisites_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_prerequisites
    ADD CONSTRAINT course_prerequisites_pkey PRIMARY KEY (course_code, prerequisite_code);


--
-- Name: degree_courses degree_courses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_courses
    ADD CONSTRAINT degree_courses_pkey PRIMARY KEY (degree_id, course_code);


--
-- Name: degree_enrollment degree_enrollment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_enrollment
    ADD CONSTRAINT degree_enrollment_pkey PRIMARY KEY (student_id, degree_id);


--
-- Name: degree_program degree_program_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_program
    ADD CONSTRAINT degree_program_pkey PRIMARY KEY (degree_id);


--
-- Name: financial_account financial_account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_account
    ADD CONSTRAINT financial_account_pkey PRIMARY KEY (account_id);


--
-- Name: financial_transaction financial_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_transaction
    ADD CONSTRAINT financial_transaction_pkey PRIMARY KEY (transaction_id);


--
-- Name: instructor_assignment instructor_assignment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instructor_assignment
    ADD CONSTRAINT instructor_assignment_pkey PRIMARY KEY (instructor_id, edition_id);


--
-- Name: instructor instructor_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instructor
    ADD CONSTRAINT instructor_pkey PRIMARY KEY (user_id);


--
-- Name: student_class student_class_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_class
    ADD CONSTRAINT student_class_pkey PRIMARY KEY (student_id, class_id);


--
-- Name: student student_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_pkey PRIMARY KEY (user_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (user_id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: idx_student_class_class_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_class_class_id ON public.student_class USING btree (class_id);


--
-- Name: idx_student_class_student_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_student_class_student_id ON public.student_class USING btree (student_id);


--
-- Name: course_enrollment trg_update_academic_record_after; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_update_academic_record_after AFTER INSERT OR DELETE OR UPDATE ON public.course_enrollment FOR EACH ROW EXECUTE FUNCTION public.update_academic_record();


--
-- Name: degree_enrollment trigger_after_degree_enrollment; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_after_degree_enrollment AFTER INSERT ON public.degree_enrollment FOR EACH ROW EXECUTE FUNCTION public.create_financial_account();


--
-- Name: course_enrollment trigger_after_grade_update; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_after_grade_update AFTER UPDATE OF grade ON public.course_enrollment FOR EACH ROW EXECUTE FUNCTION public.update_academic_records();


--
-- Name: academic_record academic_record_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.academic_record
    ADD CONSTRAINT academic_record_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(user_id);


--
-- Name: activity_participation activity_participation_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_participation
    ADD CONSTRAINT activity_participation_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(activity_id);


--
-- Name: activity_participation activity_participation_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.activity_participation
    ADD CONSTRAINT activity_participation_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(user_id);


--
-- Name: admin admin_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admin
    ADD CONSTRAINT admin_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: class_assignment class_assignment_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_assignment
    ADD CONSTRAINT class_assignment_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.class(class_id);


--
-- Name: class_assignment class_assignment_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class_assignment
    ADD CONSTRAINT class_assignment_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.classroom(room_id);


--
-- Name: class class_edition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.class
    ADD CONSTRAINT class_edition_id_fkey FOREIGN KEY (edition_id) REFERENCES public.course_edition(edition_id);


--
-- Name: course_edition course_edition_coordinator_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_edition
    ADD CONSTRAINT course_edition_coordinator_id_fkey FOREIGN KEY (coordinator_id) REFERENCES public.instructor(user_id);


--
-- Name: course_edition course_edition_course_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_edition
    ADD CONSTRAINT course_edition_course_code_fkey FOREIGN KEY (course_code) REFERENCES public.course(code);


--
-- Name: course_enrollment course_enrollment_edition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollment
    ADD CONSTRAINT course_enrollment_edition_id_fkey FOREIGN KEY (edition_id) REFERENCES public.course_edition(edition_id);


--
-- Name: course_enrollment course_enrollment_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_enrollment
    ADD CONSTRAINT course_enrollment_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(user_id);


--
-- Name: course_prerequisites course_prerequisites_course_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_prerequisites
    ADD CONSTRAINT course_prerequisites_course_code_fkey FOREIGN KEY (course_code) REFERENCES public.course(code);


--
-- Name: course_prerequisites course_prerequisites_prerequisite_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.course_prerequisites
    ADD CONSTRAINT course_prerequisites_prerequisite_code_fkey FOREIGN KEY (prerequisite_code) REFERENCES public.course(code);


--
-- Name: degree_courses degree_courses_course_code_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_courses
    ADD CONSTRAINT degree_courses_course_code_fkey FOREIGN KEY (course_code) REFERENCES public.course(code);


--
-- Name: degree_courses degree_courses_degree_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_courses
    ADD CONSTRAINT degree_courses_degree_id_fkey FOREIGN KEY (degree_id) REFERENCES public.degree_program(degree_id);


--
-- Name: degree_enrollment degree_enrollment_degree_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_enrollment
    ADD CONSTRAINT degree_enrollment_degree_id_fkey FOREIGN KEY (degree_id) REFERENCES public.degree_program(degree_id);


--
-- Name: degree_enrollment degree_enrollment_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.degree_enrollment
    ADD CONSTRAINT degree_enrollment_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(user_id);


--
-- Name: financial_account financial_account_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_account
    ADD CONSTRAINT financial_account_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(user_id);


--
-- Name: financial_transaction financial_transaction_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_transaction
    ADD CONSTRAINT financial_transaction_account_id_fkey FOREIGN KEY (account_id) REFERENCES public.financial_account(account_id);


--
-- Name: financial_transaction financial_transaction_activity_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_transaction
    ADD CONSTRAINT financial_transaction_activity_id_fkey FOREIGN KEY (activity_id) REFERENCES public.activity(activity_id);


--
-- Name: financial_transaction financial_transaction_degree_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.financial_transaction
    ADD CONSTRAINT financial_transaction_degree_id_fkey FOREIGN KEY (degree_id) REFERENCES public.degree_program(degree_id);


--
-- Name: instructor_assignment instructor_assignment_edition_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instructor_assignment
    ADD CONSTRAINT instructor_assignment_edition_id_fkey FOREIGN KEY (edition_id) REFERENCES public.course_edition(edition_id);


--
-- Name: instructor_assignment instructor_assignment_instructor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instructor_assignment
    ADD CONSTRAINT instructor_assignment_instructor_id_fkey FOREIGN KEY (instructor_id) REFERENCES public.instructor(user_id);


--
-- Name: instructor instructor_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.instructor
    ADD CONSTRAINT instructor_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- Name: student_class student_class_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_class
    ADD CONSTRAINT student_class_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.class(class_id);


--
-- Name: student_class student_class_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_class
    ADD CONSTRAINT student_class_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.student(user_id);


--
-- Name: student student_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student
    ADD CONSTRAINT student_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(user_id);


--
-- PostgreSQL database dump complete
--

